In [1]:
## importing packages
import pandas as pd
import re
import numpy as np

In [2]:
df_book = pd.read_csv('data/top_books.csv')
df_book

,Unnamed: 0,Book,Author,Original_Language,First_Published,Approximate_Sales,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6
0,0,A Tale of Two Cities,Charles Dickens,English,1859,200000000,Historical fiction,NaN,NaN,NaN,NaN,NaN
1,1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200000000,Fantasy,children's fiction,NaN,NaN,NaN,NaN
2,2,The Alchemist (O Alquimista),Paulo Coelho,Portuguese,1988,150000000,Fantasy,NaN,NaN,NaN,NaN,NaN
3,3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120000000,Fantasy,children's fiction,NaN,NaN,NaN,NaN
4,4,And Then There Were None,Agatha Christie,English,1939,100000000,Mystery,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
161,67,Bridget Jones's Diary,Helen Fielding,English,1996,10000000,NaN,NaN,NaN,NaN,NaN,NaN
162,68,It Ends with Us,Colleen Hoover,English,2016,10000000,Romance,Fiction,NaN,NaN,NaN,NaN
163,0,"The Lion, the Witch and the Wardrobe",C.S. Lewis,English,1950,85000000,Fantasy,children's fiction,NaN,NaN,NaN,NaN
164,58,"The Secret Diary of Adrian Mole, Aged 13¾",Sue Townsend,English,1982,20000000,Young adult novel,NaN,NaN,NaN,NaN,NaN
165,41,"Ronia, the Robber's Daughter",Astrid Lindgren,Swedish,1981,10000000,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_series = pd.read_csv('data/top_series.csv')
df_series